<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID checker</title>
</head>
<body>
    <h1>Welcome to the ID checker</h1>
    <h3>Please enter an ID which you want to check</h3>
    <form method="get">
        <input type="text" name="id">
        <button type="submit">Check!</button>
    </form>
    <a href="{{ url_for('add_id') }}">Add new IDs</a>
</body>
</html>